<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gibbons.member.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.gibbons.member.entity.User" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="mall_password" property="mallPassword" jdbcType="VARCHAR" />
    <result column="actual_name" property="actualName" jdbcType="VARCHAR" />
    <result column="paperwork_type_id" property="paperworkTypeId" jdbcType="INTEGER" />
    <result column="paperwork_number" property="paperworkNumber" jdbcType="VARCHAR" />
    <result column="contact_number" property="contactNumber" jdbcType="VARCHAR" />
    <result column="e_mail" property="eMail" jdbcType="VARCHAR" />
    <result column="id_card_imgz" property="idCardImgz" jdbcType="VARCHAR" />
    <result column="id_card_imgf" property="idCardImgf" jdbcType="VARCHAR" />
    <result column="user_type_id" property="userTypeId" jdbcType="INTEGER" />
    <result column="registration_time" property="registrationTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="referee" property="referee" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
</mapper>